/* General Reset Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #eee;
  padding: 0;
  margin: 0;
  height: 100%;
}

/* Header Styles */
header {
  background-color: #a2a8d3;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  width: 100%;
  position: fixed; /* Fix header at the top */
  top: 0;
  left: 0;
  z-index: 100; /* Ensures the header stays on top */
}

header h1 {
  color: #381167;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

/* Sidebar Styles */
.sidebar {
  width: 60px;
  height: 100%;
  box-sizing: border-bx;
  padding: 10px;
  background-color: #bac3d0;
  transition: ease-in-out 0.3s;
  overflow: hidden;
  position: fixed;
  top: 60px; /* Start the sidebar below the header */
  left: 0;
  z-index: 99; /* Sidebar below the header */
}

.sidebar:hover {
  width: 300px;
}

.sidebar:hover .item > .text {
  opacity: 1;
}

hr {
  height: 1px;
  color: #919191;
  margin: 15px 0;
}

.item {
  display: flex;
  align-items: center;
  margin: 40px 0;
}

.item .icon {
  width: 40px;
  height: 35px;
  flex-shrink: 0;
  fill: #424242;
}

.item .text {
  opacity: 0;
  transition: ease-in-out 0.3s;
  transition-delay: 0.25s;
  margin-left: 10px;
  white-space: nowrap;
}

/* App Layout Styles */
.app-container {
  display: flex;
  flex-direction: column;
  margin-left: 60px; /* Keeps the content from being under the sidebar */
  padding-top: 60px; /* Keeps content from going under the fixed header */
}

.main-content {
  padding: 0px;
  margin-top: 20px;
  flex-grow: 1;
  background-color: #fff;
  margin-left: 220px; /* Offset content for sidebar */
}

/* Footer Styles */
footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}

.diplomes-container {
  max-width: 500px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 30px 40px;
  transition: 0.3s ease;
}

.diplomes-container h2 {
  margin-bottom: 20px;
  color: #381167;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

.diplomes-container ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 20px;
}

.diplomes-container li {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  font-size: 16px;
  color: #333;
}

.validate-button {
  background-color: #381167;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.validate-button:hover {
  background-color: #4c1c88;
}
